version: '2.3'
services:
  bot:
    image: ghcr.io/floatingmilkshake/mechanicalmilkshake
    depends_on:
      redis:
        condition: service_healthy
    restart: on-failure
    volumes:
      - type: bind
        source: /etc/localtime
        target: /etc/localtime
        read_only: true
      - type: bind
        source: ./config.json
        target: /app/config.json
      - type: bind
        source: ./id_ed25519
        target: /app/id_ed25519
  redis:
    image: redis:alpine
    restart: always
    volumes:
      - type: bind
        source: ./db
        target: /data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    command: --appendonly yes
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --label-enable
    restart: always
